
.banner
{
  
  height: 300px;   
}
.form
{
 
  width:40%;
  height: 800px;
  float: left;  
}
.image
{
  
  height:800px;
  width:20% ;
  float: left;   
}
.text
{
 
  height: 800px;
  width:40% ;
  float: left;   
}
.footer
{
 
 height: 100px;
 clear: both;   
}
h1{
    color: rgb(147, 33, 204);
}
img{
    height: 100%;
    width: 100%;
}

.text h2{ margin: 20px;}